* {
  margin: 0;
}

html{
  /* background: linear-gradient(#000000a2, #000000a2), url('/images/capa.jpg') no-repeat center center fixed; */
  /* background: linear-gradient(#0000007c, #0000007c), url('/images/capa.jpg') no-repeat center center fixed; */
  animation: changeBackgroundImage 30s infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;  
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;   
}

body {
  display: grid;
  place-items: center;
  background: none !important;
  color: white !important;
}


main {
  width: 25rem;
  height: 16.8rem;
  text-align: center;
  margin-top: 8rem;
}

main > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  clip-path: inset(0 0 0 0 round 15% 0 15% 0);
  margin: 1em;
}

h1 {
  margin-top: 3.125rem;
}

p {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

#comunicados{
    position:absolute;
    bottom:3.5rem;
    right:0.8rem;
    width: 350px;
}

#comunicados img{
  /* border-radius: 1rem; */
  margin-bottom: 0.1rem;
  width: 80px;
  width: 80px;
}

#mensagem{
  font-size: 0.9rem;
  display: inline-table;
  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.5rem;
  width: 300px;
  min-height: 50px;
}

.alert{
  margin: 0.5rem !important;
}

@keyframes changeBackgroundImage {
  0% {
    background-image: url('../images/capa.jpg');
    background-size: cover;
  }
  25% {
    background-image: url('../images/capa_01.jpg');
    background-size: cover;
  }

  50% {
    background-image: url('../images/capa_02.jpg');
    background-size: cover;
  }

  75% {
    background-image: url('../images/capa_03.jpg');
    background-size: cover;
  }

  100% {
    background-image: url('../images/capa.jpg');
    background-size: cover;
  }
}