* {
  margin: 0;
}

html{
  background: linear-gradient(#000000a2, #000000a2), url('/images/capa.jpg') no-repeat center center fixed;
  /* background: linear-gradient(#0000007c, #0000007c), url('/images/capa.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;  
  font-family: sans-serif;
   
}

body {
  display: grid;
  place-items: center;
  background: none !important;
  color: white !important;
}


main {
  width: 25rem;
  height: 16.8rem;
  text-align: center;
  margin-top: 8rem;
}

main > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  clip-path: inset(0 0 0 0 round 15% 0 15% 0);
  margin: 1em;
}

h1 {
  margin-top: 3.125rem;
}

p {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

#comunicados{
    position:absolute;
    bottom:3.5rem;
    right:0.8rem;
    width: 350px;
}

#comunicados img{
  /* border-radius: 1rem; */
  margin-bottom: 0.1rem;
  width: 80px;
  width: 80px;
}

#mensagem{
  font-size: 0.9rem;
  display: inline-table;
  background-color: white;
  border-radius: 0.3rem;
  color: black;
  padding: 0.5rem;
  width: 300px;
  min-height: 50px;
}

.alert{
  margin: 0.5rem !important;
}

.weather{
  margin-top: 1rem;
}

.scale-up {
  animation: scale-up 1s ease-in both infinite;

}

@keyframes scale-up {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    
  }
}

/* .cloud {
  animation: rotationLeft 80s linear infinite;
  z-index: -1;
  position: absolute;

}

@keyframes rotationLeft {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }

}

.img_cloud {
  width: 100%;
  opacity: 0.5;
  margin-top: 10rem;
} */

/* .css-selector {
  background: linear-gradient(143deg, #3300ff, #0a0030, #699edd);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 54%}
  50%{background-position:100% 47%}
  100%{background-position:0% 54%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 54%}
  50%{background-position:100% 47%}
  100%{background-position:0% 54%}
}
@keyframes AnimationName {
  0%{background-position:0% 54%}
  50%{background-position:100% 47%}
  100%{background-position:0% 54%}
} */