a {
  pointer-events:none;
}

* {
  margin: 0;
}

html{
  /* background: linear-gradient(#0000007c, #0000007c), url('/images/capa.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   */
  font-family: sans-serif; 
}

body {
  width: 100vw;
  height: 100vh;
  color: white !important;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* Remover linhas abaixo se necessário usar imagem de Background */
  background: linear-gradient(45deg, #1A1A40, #270082, #7A0BC0, #FA58B6);
  background-size: 300% 300%;
  animation: colors 12s ease infinite;
}

main {
  width: 25rem;
  height: 50vh;
  text-align: center;
  /* margin-top: 8rem; */
}

main > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  clip-path: inset(0 0 0 0 round 15% 0 15% 0);
  margin: 1em;
}

#comunicados{
    /* position:absolute; */
    /* bottom:3.5rem; */
    /* top: 8rem;
    right:2.5rem; */
    animation: animarAlerta ease-in-out 2s infinite;
}

@keyframes colors{
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

@keyframes animarAlerta{
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}

.tempo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}